html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.abot-us{

  display: flex;
  flex-wrap: wrap;
color: wheat;
padding: 0;
}
.grid-about-us{
  width: 100%;
  margin: 0px 20px;
}
.grid-about-us h1{
  font-weight: 100;
}
.grid-about-us h1 span {
  font-size: 97px;
}
.grid-about-us p{
  font-weight: 100;
}

.grid-about-us.first{
  text-align: left;
}
.video_content_mobile{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
img.bg_pc{
  object-position: -14rem 0rem;
  color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
@media (min-width: 600px) {
  img.bg_pc{
    display: block;
    object-position: center;
  }
  .grid-about-us{
    width: 40%;
    margin: 0px 10px;
  }
  .grid-about-us.first{
    text-align: right;
    padding-right: 2rem;
  }
 
 
}





.burger{
  top: 3%;
  right: 3%;
position: absolute;
}
input.hamburger {
  display: none;
  &:checked {
    & ~ .drawer-list {
       transform: translatex(0);
        border-bottom-left-radius: 0;
        li {
          transform: translatex(0);
       
          a {
            padding-right: 15px;
          }
        }
    }
    & ~ label {
      > i {
        background-color: transparent;
        transform: rotate(90deg);
        &:before {
          transform: translate(-50%, -50%) rotate(315deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-315deg);
        }
      }
      .close {
        color: red;
        width: 100%;
      }
      .open {
        color: rgba(0, 0, 0, 0);
        width: 0;
      }
    }
  }
}

label.hamburger {
  z-index: 9999;
  position: relative;
  align-items: center;
    justify-content: center;
    display: flex;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: white;
 
  }
  .dot {
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 100%;
    margin: 2px;
}
 





.drawer-list {
 
  background: #151515;
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-left-radius: 100vw;
 /* @include alpha-attribute('background-color', rgba($contrast, 1), white);*/
  @media (min-width: 768px) {
    width: 100vw;
  }
   /*ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: auto;
  }*/
  li {
    display: block;
   list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
     /*ie workaround */
    -ms-transform: translatex(-100vw);
    &:last-child {
      
    }
    a {
      text-decoration: none;
   color: white;
      text-align: center;
    
      padding: 1rem;
     
      @media (min-width: 768px) {
        text-align: right;
        padding: .5rem;
      }
      &:hover {
        cursor: pointer;
        
       /* @include alpha-attribute('background-color', rgba($main, 0.5), white);*/
      }
    }
  }
}
