.marquees{
  width: 78%;
  padding: 13px 0px;
 
  white-space:nowrap;
  overflow:hidden;
}

.marquee  {
  font-family: system-ui;
    font-weight: 300;
 color: #ffffff;
 
 display:inline-block;
 padding-left:100%;
 -webkit-animation: marquee 18s infinite linear;
 animation: marquee 14s infinite linear;
 }
 
 @-webkit-keyframes marquee {
 0%{-webkit-transform: translate(0, 0);}
 100%{-webkit-transform: translate(-100%, 0);}
 }
 @keyframes marquee{
 0%{transform: translate(0, 0);}
 100%{transform: translate(-100%, 0)}
 }

.main {
 height: 100vh;
 position: relative;

}
.main_container{
 display: flex;
 flex-direction: column;
 height: 100%;
}
.favicon{
  border-radius: 100%;
position: absolute;
left: 1px;
animation: radial-anakausug 1s infinite;
}
@keyframes radial-anakausug {
  0% { box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5); }  
   
  100% { box-shadow: 0 0 0 10px rgb(243 243 243 / 0%); }
  }

.video_gif{
  height: 100vh;
  object-fit: cover; 
 /* width: 124%;
  /*object-position: 414% 11%; */
  /* color: transparent; */

object-position: center;
  
}
.own_container{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.331);
 
}
.header_container{
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.331);

}
.own_p{
  color: #dfc5a8;
}
.c_button{
 color: #ffffff;
 font-family: system-ui;
    font-weight: 300;
width: 100%;
margin-bottom: 1rem;
border: none;
backdrop-filter: blur(8px);
background-color: rgba(255, 255, 255, 0.463);
border-radius:1000px ;
display: flex;
    justify-content: center;
    box-shadow: 2px 0px 5px 0px #0000006e;
}

.block_button {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
width: 100%;
padding: 1rem;
margin: 1rem;
position: relative;

}
.vk_block{
  color: #eaeaea;
  margin-bottom: 2rem;
}
.vk_description{
  font-weight: 100;
  margin: 0;
}
.vk_title{
  font-size: large;
  font-weight: 600;
  margin: 0;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}








